<section class="collection-component component">

  <div class="component-title-background">
    <div class="row">
      <div class="small-12 columns">
        <div class="component-title" [@fadeInAnimation]>
          <div>
            <h2>Collection</h2>
            <h1>{{collectionTitle}}</h1>
            <p class="collection-author">{{collectionAuthor}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row collection-row">
    <div class="small-12 medium-9 large-8 columns">

      <table class="movies-table movie-row-height-02" *ngIf="currentMovies" [@fadeInAnimation]>
        <tr *ngFor="let currentMovie of currentMovies | async">

          <td class="movies-table-content">
            <table>
              <tr>
                <td class="movies-table-icon movies-table-column">
                  <div>
                    <span class="movies-table-icon-graphic">
                      <img src="../assets/reel-icon.svg" />
                      <p>{{ currentMovie.release_date.slice(0,4) }}</p>
                    </span>
                  </div>
                </td>
                <td class="movies-table-title movies-table-column">
                  <div>
                    <span>{{ currentMovie.title }}</span>
                  </div>
                </td>
              </tr>
            </table>
          </td>

        </tr>
      </table>

      <div class="no-results" *ngIf="!currentMovies">
        <p>No Movies!</p>
      </div>

    </div>
  </div><!-- /.row -->

</section>
