<section class="collection-component component">

  <div class="component-title-background">
    <div class="row">
      <div class="small-12 columns">
        <div class="component-title">
          <div>
            <h2>User Created</h2>
            <h1>Collections</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row component-description-row">
      <div class="small-12 columns">
        <div class="component-description">
          <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </span>
        </div>
      </div>
  </div> -->

  <div class="row collections-row">
    <div class="small-12 medium-9 large-8 columns collection-column">

      <table class="movies-table movie-row-height-01" [@fadeInAnimation]>
        <tr *ngFor="let collection of collections | async; let i = index" [attr.data-index]="i">

          <td class="movies-table-content">
            <a [routerLink]="['/collections/' + collection.$key]">
              <table>
                <tr>
                  <td class="movies-table-icon movies-table-column">
                    <div>
                      <span class="movies-table-icon-number">{{i+1}}</span>
                    </div>
                  </td>
                  <td class="movies-table-title movies-table-column">
                    <div>
                      <span>{{collection.collectionTitle}}</span>
                    </div>
                  </td>
                </tr>
              </table>
            </a>
          </td>

        </tr>
      </table>

    </div>
  </div>

</section>
