/*--------------------------------------------------------------
  Component parent
--------------------------------------------------------------*/

:host {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-justify-content: center; /* Safari */
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  // background-image: url('../assets/mc02.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment:fixed;
}

/*--------------------------------------------------------------
  Component styles
--------------------------------------------------------------*/

.collection-author {
  position: relative;
  padding-left: 20px;
  margin-top: 10px;
  &:before {
    content: url('../assets/user-icon-white.svg');
    position: absolute;
    left: 0;
    line-height: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
.add-collection-button {
  margin-bottom: 25px;
}
.collection-delete {
  position: absolute;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  right: 0;
  padding: 15px 30px;
  height: 100%;
  background: transparent;
  transition: all .75s ease;
  z-index: 5;
  cursor: pointer;
  &:hover {
    background: #eaeaea;
  }
  img {
    width: 25px;
  }
}
