<section class="profile-component component">

  <div class="component-title-background">
    <div class="row">
      <div class="small-12 columns">
        <div class="component-title">
          <h1>Collections</h1>
          <h3 class="collection-author">{{currentUser}}</h3>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="collections" class="row collections-row">

      <div class="small-12 columns">
        <a class="button-shape button-border-grey add-collection-button" (click)="createCollection(currentUser)">Add Collection</a>
      </div>

      <div class="small-12 medium-9 large-8 columns collection-column">

        <table class="movies-table movie-row-height-01">
          <tr *ngFor="let collection of collections | async; let i = index" [attr.data-index]="i">

            <td class="movies-table-content">
              <a class="collection-card-link" [routerLink]="['/profile/' + userParamId + '/' + collection.$key]">
                <table>
                  <tr>
                    <td class="movies-table-icon movies-table-column">
                      <div>
                        <span class="movies-table-icon-number">{{i+1}}</span>
                      </div>
                    </td>
                    <td class="movies-table-title movies-table-column">
                      <div>
                        <span>{{collection.collectionTitle}}</span>
                      </div>
                    </td>
                  </tr>
                </table>
              </a>
            </td>
            <td class="movies-table-action" (click)="deleteCollection(collection)">
              <article>
                <img src="./assets/trash-icon.svg">
              </article>
            </td>

          </tr>
        </table>

      </div>

    <div *ngIf="(collections | async)?.length == 0" class="small-12 columns no-results">
      <p>No Collections!</p>
    </div>

  </div><!-- /.row -->
</section><!-- /.component -->
