<header-component></header-component>

<section class="movies-form-section-1">
  <div class="container-1">

    <h1>profile.component.html</h1>

    <a class="button-default" (click)="createCollection(currentUser)">Add Collection</a>

    <div *ngIf="collections">
      <ul>
        <li *ngFor="let collection of collections | async">
          <a [routerLink]="['/profile/' + userParamId + '/' + collection.$key]">
            <h1>{{ collection.collectionTitle }}</h1>
            <p>{{ collection.$key }}</p>
          </a>
        </li>
      </ul>
    </div>
    <h1 *ngIf="(collections | async)?.length == 0">No Collections!</h1>

  </div><!-- /.container -->
</section>
