<section class="user-collection-component component">

  <div class="component-title-background">
    <div class="row">
      <div class="small-12 columns">
        <div class="component-title">
          <h2>Collection</h2>
          <div class="title-update">
            <input type="text" class="form-control collect-title" name="titleValue" [(ngModel)]="titleValue" ngModel (ngModelChange)="titleChange()" maxlength="25">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row button-toggle">
    <div class="small-12 columns">

      <button class="button-shape button-border-grey" (click)="toggleSearch()">
        <span *ngIf="!showSearch">Show Search</span>
        <span *ngIf="showSearch">Show Collection</span>
      </button>

    </div><!-- /.small-12 -->
  </div><!-- /.row -->

  <div class="row">
    <div class="small-12 medium-9 large-8 columns">

    <div class="search-results" *ngIf="showSearch">

      <div class="movie-search-form">
        <form (ngSubmit)="searchSubmit()" #searchForm="ngForm">
          <div class="form-group-input">
            <input type="text" autocomplete="off" name="searchInput" [(ngModel)]="searchInput" maxlength="35" required>
          </div>
          <div class="form-group-submit">
            <button class="button-default" type="submit" [disabled]="searchForm.invalid"><img src="./assets/search-icon.svg"></button>
          </div>
        </form>
      </div>

      <table class="movies-table movie-row-height-02" *ngIf="searchResults">
        <tr *ngFor="let movie of searchResults, let i = index">

          <td class="movies-table-content">
            <table>
              <tr>
                <td class="movies-table-icon movies-table-column">
                  <div>
                    <span class="movies-table-icon-graphic">
                      <img src="../assets/reel-icon.svg" />
                      <p>{{ movie.release_date.slice(0,4) }}</p>
                    </span>
                  </div>
                </td>
                <td class="movies-table-title movies-table-column">
                  <div>
                    <span>{{ movie.title }}</span>
                  </div>
                </td>
              </tr>
            </table>
          </td>
          <td class="movies-table-action" (click)="addNewMovie(movie)">
            <article>
              <span class="movies-table-action-add">+</span>
            </article>
          </td>

        </tr>
      </table>

      <div class="no-results" *ngIf="searchResults <= 0">
        <p>No results!</p>
      </div>

    </div>

    </div><!-- /.small-12 -->
  </div><!-- /.row -->

  <div class="row">
    <div class="small-12 medium-9 large-8 columns">
      <div class="current-movies" *ngIf="!showSearch">

        <table class="movies-table movie-row-height-02" *ngIf="currentMovies">
          <tr *ngFor="let currentMovie of currentMovies | async; let i=index">

            <td class="movies-table-content">
              <table>
                <tr>
                  <td class="movies-table-icon movies-table-column">
                    <div>
                      <span class="movies-table-icon-graphic">
                        <img src="../assets/reel-icon.svg" />
                        <p>{{ currentMovie.release_date.slice(0,4) }}</p>
                      </span>
                    </div>
                  </td>
                  <td class="movies-table-title movies-table-column">
                    <div>
                      <span>{{ currentMovie.title }}</span>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
            <td class="movies-table-action" (click)="deleteMovie(currentMovie)">
              <article>
                <img src="./assets/trash-icon.svg">
              </article>
            </td>

          </tr>
        </table>

        <div class="no-results" *ngIf="!currentMovies">
          <p>No Movies!</p>
        </div>

      </div>
    </div>
  </div><!-- /.row -->

</section><!-- /.component -->
