<section class="user-collection-component component">

  <div class="row">
    <div class="small-12 columns">
      <div class="component-title">
        <h2>Collection</h2>
        <div class="title-update">
          <input type="text" class="form-control collect-title" name="titleValue" [(ngModel)]="titleValue" ngModel (ngModelChange)="titleChange()" maxlength="25">
        </div>
      </div>
    </div>
  </div>

  <div class="row button-toggle">
    <div class="small-12 columns">

      <button class="button-shape button-one" (click)="toggleSearch()">
        <span *ngIf="!showSearch">Show Search</span>
        <span *ngIf="showSearch">Show Collection</span>
      </button>

    </div><!-- /.small-12 -->
  </div><!-- /.row -->

  <div class="row">
    <div class="small-12 medium-9 large-8 columns">

    <div class="search-results" *ngIf="showSearch">

      <div class="movie-search-form">
        <form (ngSubmit)="searchSubmit()" #searchForm="ngForm">
          <div class="form-group-input">
            <input type="text" autocomplete="off" placeholder="Movie Search..." name="searchInput" [(ngModel)]="searchInput" maxlength="35" required>
          </div>
          <div class="form-group-submit">
            <button class="button-default" type="submit" [disabled]="searchForm.invalid"><img src="./assets/search-icon.svg"></button>
          </div>
        </form>
      </div>

        <table class="search-movies-table" *ngIf="searchResults">
          <tr *ngFor="let movie of searchResults, let i = index">
            <div class="result-movie-row" (click)="addNewMovie(movie)" *ngIf="i < 3">
              <td></td>
              <td>{{movie.title}} - ({{movie.release_date}})</td>
            </div>
          </tr>
        </table>

      <div class="no-results" *ngIf="searchResults <= 0">
        <p>No results!</p>
      </div>

    </div>

    </div><!-- /.small-12 -->
  </div><!-- /.row -->

  <div class="row">
    <div class="small-12 medium-9 large-8 columns">
      <div class="current-movies" *ngIf="!showSearch">

        <table class="current-movies-table" *ngIf="currentMovies">
          <tr *ngFor="let currentMovie of currentMovies | async">
            <td></td>
            <td>{{ currentMovie.title }} - ({{currentMovie.release_date}})
            <td (click)="deleteMovie(currentMovie)"><img src="./assets/trash-icon.svg"></td>
          </tr>
        </table>

        <div class="no-results" *ngIf="!currentMovies">
          <p>No Movies!</p>
        </div>

      </div>
    </div>
  </div><!-- /.row -->

</section><!-- /.component -->
