/*--------------------------------------------------------------
  CSS reset
--------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	outline: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
tbody { background-color: transparent !important; }

/*--------------------------------------------------------------
  Variables
--------------------------------------------------------------*/

$body-font: 'Open Sans', sans-serif;

$torch-red: #ff0033;
$alabaster: #f9f9f9;

/*--------------------------------------------------------------
  Globals
--------------------------------------------------------------*/

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *::after, *::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
	font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	color: #393939;
}
a {
	color: #ffffff;
  text-decoration: none;
	&:focus, &:hover {
		color: #ffffff;
	}
}
input, textarea {
	box-shadow: none !important;
}
h1 {
	font-size: 2.5rem;
	line-height: 1.8;
	font-family: $body-font;
	@media only screen and (min-width: 768px) {
		font-size: 3.6rem;
	}
	@media only screen and (min-width: 900px) {
		font-size: 4.6rem;
	}
}
h2 {
	font-size: 1.8rem;
	line-height: 1.5;
	font-family: $body-font;
	@media only screen and (min-width: 768px) {
		font-size: 2.0rem;
	}
	@media only screen and (min-width: 900px) {
		font-size: 2.2rem;
	}
}
h3 {
	font-size: 1.7rem;
	line-height: 1.3;
	font-family: $body-font;
	@media only screen and (min-width: 768px) {
		font-size: 1.9rem;
	}
	@media only screen and (min-width: 900px) {
		font-size: 2.1rem;
	}
}
h4 {
	font-size: 1.7rem;
	line-height: 1.4;
	font-family: $body-font;
}
h5 {
	font-size: 1.5rem;
	line-height: 1.5;
	font-family: $body-font;
}
h6 {
	font-size: 1.3rem;
	line-height: 1.3;
	font-family: $body-font;
}
h1, h2, h3, h4, h5 {
	margin: 0;
}
p, li {
	font-size: 1.7rem;
	line-height: 1.8;
}

/*--------------------------------------------------------------
  Modular classes
--------------------------------------------------------------*/
app-component {
	display: block;
	width: 100%;
	height: 100%;
}
.row {
	max-width: 1200px;
	width: 100%;
}
.column, .columns {
	@media screen and (max-width: 1250px){
		padding-right: 3.1rem;
		padding-left: 3.1rem;
	}
}
.overflow-hidden {
  overflow: hidden;
}
.display-flex {
	display: -webkit-flex; /* Safari */
  display: flex;
}
.button-shape {
	cursor: pointer;
	display: inline-block;
	padding: 13px 25px;
	-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
	font-family: $body-font;
	font-weight: 700;
	text-rendering: optimizelegibility;
	text-decoration: none !important;
	font-size: 1.2rem;
	line-height: 1.2;
	transition: all .75s ease;
	-webkit-appearance: none;
	max-width: 100%;
	outline: 0;
	@media only screen and (min-width: 500px) {
		padding: 14px 30px;
		font-size: 1.3rem;
	}
	@media only screen and (min-width: 768px) {
		padding: 15px 35px;
		font-size: 1.5rem;
	}
}
.button-transparent {
	color: #ffffff;
	border: none;
	background: transparent;
	border: 1px solid #ffffff;
	&:hover {
		background: rgba(255,255,255,0.15);
	}
	&:active, &:focus {
		color: #ffffff;
		outline: 0;
	}
}
.button-border-grey {
	color: #9c9c9c;
	border: none;
	background: transparent;
	border: 1px solid #bdbdbd;
	&:hover {
		background: #ededed;
	}
	&:active, &:focus {
		color: #ffffff;
		outline: 0;
	}
	span {
		color: #9c9c9c;
	}
}
button[disabled]{
	opacity: 0.5;
	background: transparent !important;
}
.background-home {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $torch-red;
	mix-blend-mode: multiply;
}
.component {
	padding-top: 50px;
  display: block;
	background-color: #ffffff;
	width: 100%;
	z-index: 2;
	@media only screen and (min-width: 768px) {
		padding-top: 70px;
	}
}
.component-title-background {
	background-color: $torch-red;
	margin-bottom: 25px;
}
.component-title {
	padding-top: 60px;
	padding-bottom: 40px;
	text-transform: capitalize;
	h2 {
    font-size: 1.7rem;
    font-weight: 300;
    color: #ffffff;
    @media only screen and (min-width: 500px) {
      font-size: 2.0rem;
    }
    @media only screen and (min-width: 768px) {
      font-size: 2.4rem;
    }
  }
  h1 {
    font-size: 2.9rem;
    line-height: 1;
    color: #ffffff;
    font-weight: 800;
    @media only screen and (min-width: 500px) {
      font-size: 3.4rem;
    }
    @media only screen and (min-width: 768px) {
      font-size: 4.4rem;
    }
  }
	h3 {
		font-size: 1.3rem;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
		word-break: break-all;
		@media only screen and (min-width: 500px) {
			font-size: 1.4rem;
		}
		@media only screen and (min-width: 768px) {
			font-size: 1.5rem;
		}
	}
}
.component-description-row {
	background-color: #ffffff;
	.component-description {
		width: 100%;
		padding: 40px 0 40px 0;
		@media only screen and (min-width: 768px) {
			width: 75%;
		}
		span {
			font-size: 2.4rem;
			line-height: 2.7rem;
		}
	}
}
.movies-table {
  border: 1px solid #e4e4e4;
  background-color: #f9f9f9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-collapse: separate !important;
  border-spacing: 0;

	&.movie-row-height-01 {
		.movies-table-content {
			div {
					padding: 15px;
				@media only screen and (min-width: 500px) {
					padding: 18px;
				}
				@media only screen and (min-width: 768px) {
					padding: 23px;
				}
			}
		}
		.movies-table-action {
			article {
				padding: 15px;
				@media only screen and (min-width: 500px) {
					padding: 18px;
				}
				@media only screen and (min-width: 768px) {
					padding: 23px;
				}
			}
		}
	}

	&.movie-row-height-02 {
		.movies-table-content {
			div {
				padding: 14px;
			}
		}
		.movies-table-action {
			article {
				padding: 14px;
			}
		}
	}

  tbody {
    border: 0 !important;
    tr {
      background: transparent !important;

			&:last-of-type {
        td {
          border-bottom: 0;
        }
      }

      td {
        border-bottom: 1px solid #e4e4e4;
        position: relative;
        vertical-align: middle;
				padding: 0;

				a, article {
					display: -webkit-flex; /* Safari */
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					-webkit-transition: background-color 0.3s;
					-o-transition: background-color 0.3s;
					transition: background-color 0.3s;
				}
				a {
					-webkit-transition: background-color 0.3s;
					-o-transition: background-color 0.3s;
					transition: background-color 0.3s;
					&:hover {
            background: #f2f2f2;
          }
				}

				&.movies-table-column {}

				&.movies-table-content {
					width: auto;

					.movies-table-icon {
						border-right: 1px solid #e4e4e4;
						text-align: center;
						width: 50px;

						@media only screen and (min-width: 500px) {
				     	width: 70px;
				    }
				    @media only screen and (min-width: 768px) {
				      width: 80px;
				    }

						div {
	            span {
								&.movies-table-icon-number {
									font-size: 1.8rem;
									color: #c7c7c7;
								}
								&.movies-table-icon-graphic {
									img {
										width: 20px;
										height: 20px;
										@media only screen and (min-width: 500px) {
											width: 26px;
											height: 26px;
								    }
								    @media only screen and (min-width: 768px) {
											width: 30px;
											height: 30px;
								    }
									}
									p {
										font-size: 1.1rem;
										line-height: 1;
										color: #c7c7c7;
										font-weight: bold;
									}
								}
	            }
						}
					}
					.movies-table-title {
						width: auto;
						div {
	            span {
	              vertical-align: middle;
	              font-size: 1.4rem;
								text-transform: capitalize;
	              color: #ff0033;
								@media only screen and (min-width: 500px) {
									font-size: 1.6rem;
								}
								@media only screen and (min-width: 768px) {
									font-size: 1.8rem;
								}
	            }
						}
          }

				}
        &.movies-table-action {
          width: 50px;
					border-left: 1px solid #e4e4e4;
          cursor: pointer;
          background: transparent;
					-webkit-transition: background-color 0.3s;
					-o-transition: background-color 0.3s;
					transition: background-color 0.3s;

					@media only screen and (min-width: 500px) {
			     	width: 70px;
			    }
			    @media only screen and (min-width: 768px) {
			      width: 80px;
			    }

					&:hover {
            background: #f2f2f2;
          }
					article {
						-webkit-box-pack: center;
						-ms-flex-pack: center;
						justify-content: center;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;

						span.movies-table-action-add {
							color: #c7c7c7;
							font-weight: 900;
							font-size: 3.2rem;
						}
					}
        }

      } // td
    } // tr
  } // tbody
} // movies-table

.no-results {
  color: #e4e4e4;
  font-weight: 700;
}
